*{
    margin: 0;
    padding: 0;
}
.hero{
    background: url(imagess.jpg);
    width: 100%;
    height: 780px;
    background-size: cover;
}
.hero p{
    position: absolute;
    top: 7%;
    left: 25%;
    font-size: 110px;
    color: rgb(226, 27, 27);
    font-weight: 600;
    transition: 0.5s;
}
.hero p:hover{
    -webkit-text-stroke: 2px aquamarine;
    color: transparent;
}
.hero h2 {
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 2%;
    left: 45%;
    color: aqua;
}

.second-heading{
    font-family: 'Yeon Sung', cursive;
}
.contain{
    font-size: 20px;
}


.main-heading{
    font-family: 'Moon Dance', cursive;
}
div{
    font-size: 15px;
    width: 250px;
    height: 10px;
    color: green;
    background-color: transparent;
    position: absolute;
    top: 96%;
    left: 0;
    animation: mymove 5s infinite;
}
#div1{animation-timing-function: linear;}

@keyframes mymove{
    from{left: 0px;}
    to{left: 300px;}
}